body {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  width: 1440px;
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 0;
}

.wysiwyg__wrapper {
  width: 1110px;
  background-color: #FFFDF8;
  padding: 72px 165px 31px 165px;
  font-size: 18px;
  color: #000000;
}

.wysiwyg__wrapper blockquote {
  width: 920px;
  text-align: center;
  margin: 83px auto;
  padding: 40px 97px;
  font-weight: 300;
  font-size: 24px;
  font-style: italic;
  color: #9F7303;
  box-sizing: border-box;
  border-top: 1px solid #F5D581;
  border-bottom: 1px solid #F5D581;
}

.wysiwyg__wrapper h1,
.wysiwyg__wrapper h2,
.wysiwyg__wrapper h3 {
  font-weight: 500;
  line-height: 1.2;
}

.wysiwyg__wrapper h1 {
  margin: 0;
  margin-bottom: 32px;
  font-size: 48px;
}

.wysiwyg__wrapper h2 {
  margin: 0;
  margin-bottom: 32px;
  font-size: 40px;
}

.wysiwyg__wrapper h3 {
  color: #9F7303;
  font-size: 32px;
}

.wysiwyg__wrapper ol,
.wysiwyg__wrapper ul {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
  padding-left: 22px;
}

.wysiwyg__wrapper li {
  margin-bottom: 16px;
  position: relative;
  list-style: none;
}

.wysiwyg__wrapper li::after {
  content: "";
  height: 8px;
  width: 8px;
  background: #f5d581;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: 10px;
  left: -20px;
}

.wysiwyg__wrapper p {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 32px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.page__main {
  flex-grow: 1;
}

.header__wrapper {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 165px 18px 165px;
}

.header-wrapper__link {
  margin-right: auto;
  padding-right: 30px;
  line-height: 0.7;
}

.header-wrapper__logo {
  object-fit: contain;
}

.menu-navigation-container .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  column-gap: 40px;
  row-gap: 25px;
}

.select__item {
  line-height: 1.2;
}

.menu-navigation-container a {
  line-height: 1.5;
  color: inherit;
  text-decoration: none;
}

.menu-navigation-container a:hover,
.menu-navigation-container .sub-menu a:hover {
  color: #9F7303;
}

.menu-navigation-container .menu-item-has-children {
  position: relative;
}

.menu-navigation-container .menu-item-has-children::after {
  content: "";
  position: absolute;
  display: block;
  width: 13px;
  height: 9px;
  background-image: url(../img/select-button.svg);
  background-repeat: no-repeat;
  left: 100%;
  top: 35%;
}

.menu-navigation-container .menu-item-has-children a {
  display: block;
  min-width: 140px;
  color: inherit;
  text-decoration: none;
  margin-right: 4px;
}

.menu-navigation-container .menu-item-has-children:hover .sub-menu {
  display: block;
}

.menu-navigation-container .sub-menu {
  display: none;
  position: absolute;
  min-width: 200px;
  top: 27px;
  margin: 0;
  padding: 24px 0 8px 16px;
  list-style: none;
  box-shadow: 0 0 2px rgba(97, 97, 97, 0.18);
  background-color: #FFFFFF;
  z-index: 2;
}

.menu-navigation-container .sub-menu li {
  margin-bottom: 24px;
}

.menu-navigation-container .menu-item-different a {
  color: inherit;
  text-decoration: none;
  padding: 6px 22px 7px 23px;
  border: 1px solid #9F7303;
  border-radius: 8px;
  background-color: transparent;
  box-sizing: border-box;
}

.menu-navigation-container .menu-item-different a:hover {
  background-color: #FFFDF8;
}

.menu-navigation-container .menu-item-different a:active {
  background-color: #FFF7E3;
}

.menu-navigation-container .current-menu-item a {
  color: #684C05;
}

.front-image-wrapper {
  padding: 24px 0;
}

.front-image-wrapper img {
  width: 1110px;
  height: 100%;
  object-fit: cover;
}

.back-image-wrapper {
  display: flex;
  gap: 30px;
}

.back-image-wrapper img {
  width: 540px;
  height: 350px;
  object-fit: cover;
}

footer {
  background-color: #F4EFE2;
  padding: 81px 165px 88px;
}

.footer__wrapper {
  width: 1110px;
}

.footer__title {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 500;
  color: #9F7303;
  margin: 0;
  margin-bottom: 32px;
}

.order-form__column-wrapper {
  display: grid;
  grid-template-columns: 285px 255px auto;
  grid-template-rows: auto auto auto;
  column-gap: 16px;
  row-gap: 24px;
}

.order-form .wpcf7-form {
  padding-bottom: 56px;
  margin-bottom: 56px;
  border-bottom: 1px solid #F5D581;
}

.order-form__column-item-text {
  grid-column: 1 / -1;
  min-height: 160px;
}

.order-form__column-item-input {
  grid-column: 1 / 3;
  min-height: 64px;
}

.order-form__column-item-button {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
}

.order-form .wpcf7-textarea,
.order-form .wpcf7-text,
.order-form .wpcf7-submit {
  font: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  padding: 16px;
  border: 1px solid #F5D581;
  border-radius: 8px;
  box-sizing: border-box;
}

.order-form .wpcf7-textarea {
  width: 100%;
  min-height: 160px;
}

.order-form .wpcf7-text,
.order-form .wpcf7-submit {
  width: 100%;
  min-height: 64px;
}

.order-form .wpcf7-submit {
  grid-column: 1 / 2;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #9F7303;
  padding: 17px 16px 17px;
  cursor: pointer;
  border: transparent;
}

.order-form .wpcf7-submit:hover {
  background-color: #856103;
}

.order-form .wpcf7-submit:active {
  background-color: #684C05;
}

.order-form__column-item-explanation {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.order-form .wpcf7-response-output {
  width: 225px;
  font-size: 12px;
  opacity: 0.7;
}

.wpcf7 p {
  margin: 0;
}

.wpcf7 span {
  display: block;
  min-height: 14px;
}

.footer__comments {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.comments__user {
  display: grid;
  grid-template-columns: 50px 1fr;
  /* grid-template-rows: 21px auto auto; */
  column-gap: 24px;
  row-gap: 8px;
}

.comments__user-avatar {
  width: 50px;
  height: 50px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-radius: 50%;
  background-color: #9F7303;
  object-fit: cover;
  text-indent: -100vw;
}

.comments__user-name {
  margin: 0;
  font-size: 14px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.comments__text {
  margin: 0;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
